body {
  background-image: url('https://i.ytimg.com/vi/48XpWy0OwoU/maxresdefault.jpg');
  color: #9500ff;
}

h1 {
  color: purple;
}
.slanted{
  font-style: italic;
}
#emphatic {
  font-weight: bold;
}
