body {
  background-image: url('https://i.ytimg.com/vi/48XpWy0OwoU/maxresdefault.jpg');
  color: #9500ff;
}

h1 {
  color: purple;
}
.slanted{
  font-style: italic;
}
#emphatic {
  font-weight: bold;
}
.navigation li {
  margin: 20 px;
  padding: 10 px;
  position:fixed;
  top: 0;
  left: 0;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}
